<div class="container text-center">
<p id="notice"><%= notice %></p>

<h1>Blog</h1>

<table>
  <thead>
    <tr>
      <th>Tittle</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.title %></td>
        <td><%= blog.description %></td>
        <td><%= link_to 'Show', blog %></td>
        <td><%= link_to 'Edit', edit_blog_path(blog) %></td>  
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New ', new_blog_path %>
</div>